{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <a class="topcorner" href="{{url_for('main.face_login')}}">Forgot password?</a>
    <form method="POST" action="{{url_for('main.login_page')}}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Outpass System</legend>
            <div class="form-group">
                {{ form.id.label(class="form-control-label") }}
                {% if form.id.errors %}
                    {{ form.id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small>
            <a href="{{url_for('main.admin_login')}}">Not a student?</a>
        </small>
    </form>
</div>

{% endblock %}